@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

body{
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(218, 48, 18, 0.432) 0%, rgb(6, 44, 80) 100%);
}

section{
    display: flex;
    align-content: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px;
}

.title a{
    text-decoration: none;
    color: #ffffff;
}

.bi-motherboard{
    color: #0872bf;
    margin-right: 10px;
}

nav{
    width: 325px;
    display:flex;
    justify-content: space-evenly;
    
}

nav a{
    text-decoration: none;
    color: #ffffff;
}

nav a.blue:hover{
    color: #0872bf;
}


.one{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 150px;
    color: #ffffff;
}

.intro{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    color:#0872bf;
    margin-bottom: 25px;
    font-size: 4rem;
    font-weight: bold;
}

.one h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 2rem;
}

.intro h3{
    margin-bottom: 25px;
    font-size: 1.8rem;
}

h3 span{
    color: #0872bf;
    margin-bottom: 25px;
}

.intro p{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

button{
    margin-bottom: 25px;
    border-radius: 25px;
    width: 170px;
    height: 60px;
    background-color: #0872bf;
    border-color:rgba(8, 114, 191, 1);
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: #ffffff;
    background-color: #0872bf;
    margin-bottom: 20px;
    font-size: 20px;
}

.socialnetworks{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.redes{
    position: relative;
    right: 35%;
}
.socialnetworks i{
    margin: 8px;
    color:#ffffff;
    transform: rotate(40deg);
    font-size: 25px;
}

.boxflex{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.boxviolet{
    position: relative;
    left: 20px;
    width: 400px;
    height: 400px;
    background-color: #0873bfb7;
    transform: rotate(18deg);
    border-radius: 16px;
}

.boxpink{
    position: absolute;
    display: flex;
    align-items: flex-end;
    background-color: #ffffffa4;
    width: 400px;
    height: 400px;
    border-radius: 16px;
}

.boxpink img{
    width: 500px;
    height: 636px;
    top: 140px;
    left: 735px;
    gap: 0px;
    border-radius: 170px 300px 300px 800px;
    opacity: 0px;
    border-radius: 16px;
    width: 280PX;
    height: 400px;
    background-color: transparent;
}



.two{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 150px;
}
.two h2{
    font-size: 4rem;
    color: #0872BF;
    font-weight: bold;
    margin: 15px;
}

.two h3{
    color: #ffffff;
    margin: 20px;
    font-size: 2.5rem;
}

.two p{
    font-size: 18px;
    margin: 10px;
    line-height: 1.5;
    text-align: justify;
}

.twoin{
    display: flex;
    flex-direction: row;
}

.two img{
    width: 200px;
}

.twoconteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.twoin .twoconteiner{
    color: #ffffff;
    width: 410.62px;
    height: 500.09px;
    border: 3px solid rgba(11, 70, 124, 0.77);
    border-radius: 10px;
    box-shadow: 11px 2px 20px rgb(11 70 124 / 32%);
    margin: 150px;
}


.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    color: #ffffff;
}
.three h2{
    font-size: 3.5rem;
    font-weight: bold;
    color:#ffffff;
    margin: 20px;
    word-spacing: 5px;
}
.three span{
    color: #0872bf;
    font-weight: bold;
}

.three p {
    font-size: 1.5rem;
    width: 1070px;
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
}

.threein{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.threeleft{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 600px;
    border-radius: 0px 20px 20px 0px;
    border: 3px solid rgba(11, 70, 124, 0.77);
    background-color: rgba(12, 16, 16, 0.85);
    margin-left: -95px;
    margin-right: 60px;
    box-shadow: 0px 2px 20px 0px rgba(11, 70, 124, 0.77) ;
}

.threeleft img{
    width: 100%;
    border-radius: 15px;
}

.threeright{
    display: flex;
    flex-direction: row;
    position: relative;
    right: -85px;
    width: 1200px;
    height: 600px;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid rgba(11, 70, 124, 0.77);
    background-color: rgba(12, 16, 16, 0.85);
    box-shadow: 0px 2px 20px 0px rgba(11, 70, 124, 0.77);
}

.threeright img{
    width: 100%;
    border-radius: 17px
}


.prevnext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}

.prevnext .prev{
    margin-right:100px;
}


.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.four h3{
    color: #ffffff;
    margin: 20px;
    font-size: 2.5rem;
}

.four h2{
    font-size: 4rem;
    color: #0872BF;
    font-weight: bold;
    margin: 15px;
    margin-bottom: 170px;
}

.fourconteinerimg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

}

.costumer_one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border: solid #0872BF 3px;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    box-shadow: 3px 0px 20px #0872bf36;
}

.costumer_one img{
    position:relative;
    bottom: 50px;
    right: 120px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.costumer_one h3{
    font-size: 2rem;
    font-weight:bold;
    color: #0872bf;
    margin: 5px;
}

.costumer_one h4{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.costumer_one p{
    display: block;
    position: relative;
    bottom: 25px;
    font-size: 22px;
    color: #ffffff;
    margin: 15px;
    text-align: justify;
    padding: 20px;
}

.costumer_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #0872BF 3px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 0px 20px #0872bf36;
    width: 800px;
    margin-left: 100px;
    margin-right: 100px;
}

.costumer_two h3{
    font-size: 2rem;
    font-weight:bold;
    color: #0872bf;
    margin: 5px;
}

.costumer_two h4{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.costumer_two p{
    display: block;
    position: relative;
    bottom: 25px;
    font-size: 22px;
    color: #ffffff;
    margin: 15px;
    text-align: justify;
    padding: 20px;
}

.costumer_three{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border: solid #0872BF 3px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: -3px 0px 20px #0872bf36;
    border-right: none;
}
.costumer_three img{
    position:relative;
    bottom: 50px;
    left: 120px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}
.costumer_three h3{
    font-size: 2rem;
    font-weight:bold;
    color: #0872bf;
    margin: 5px;
}

.costumer_three h4{
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}
.costumer_three p{
    display: block;
    position: relative;
    bottom: 25px;
    font-size: 22px;
    color: #ffffff;
    margin: 15px;
    text-align: justify;
    padding: 20px;
}

.fourconteinerimg .imgpicture{
    position:relative;
    bottom: 50px;
    width: 88px;
    height: 88px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.fouriconteiner{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 50px auto;
}

.fouriconteiner button{
    width: 69px;
    height: 70px;
    background: rgba(8, 114, 191, 1);
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

.fouriconteiner i{
    color: #ffffff;
    font-size: 30px;
}



.five h2{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    bottom: 30px;
    color: #ffffff;
    left: 190px;
    font-size: 2.5rem;
}

.conteinerfive{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 66px;
    color: #ffffff;
    margin-top:150px;
}


.sectionfiveone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionfiveone h4{
    margin-bottom: 30px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.sectionfiveone a{
    text-decoration: none;
    color:rgba(161, 161, 163, 1);
    margin-bottom: 19px;
}

.sectionfivetwo{
    display: flex;
    flex-direction: column;
}

.sectionfivetwo h4{
    margin-bottom: 30px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}


.sectionfivetwo a{
    text-decoration: none;
    color:rgba(161, 161, 163, 1);
    margin-bottom: 19px;
}


.sectionfiveform{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionfiveform h4{
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.sectionfiveform #email{
    width: 299.95px;
    height: 69.78px;
    top: 133.32px;
    left: 899.86px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: rgba(43, 46, 60, 1);
}

.sectionfiveform #submit{
    position: relative;
    width: 155px;
    height: 60px;
    right: 98px;
    border-radius: 8px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 150px;
}

.footerconteiner{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

.footerconteiner p{
    color: #0872BF;
    margin: 15px;
    size: 28px;
}

.footerconteiner a{
    color: #0872BF;
    margin: 15px;
}

.line{
    border: 2.5px solid rgba(141, 128, 128, 1);
    width: 400px;
    height: 5px;
    background-color: rgba(141, 128, 128, 1);
}


@media (max-width: 720px) {

    body{
        background: rgb(34,193,195);
        background: radial-gradient(circle, rgba(235, 41, 7, 0.432) 0%, rgb(6, 44, 80) 100%);
    }

    header {
        display: flex;
        flex-direction: column;
        margin-left: 182px;
        max-width: max-content;
        align-items: center;
    }

    nav{
        align-items: center;
    }

    .one{
        margin-left: -70px;
    }

    .boxflex{
        display: none;
    }

    .intro{
        margin-left: 124px;
    }

    .socialnetworks p{
        margin-right: auto;
    }

    .two{
        margin-left: 20px;
    }

    .twoin{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    .three{
        align-items: center;
    }

    .three h2 {
        text-align: center;
        margin-left: 75px;
    }

    .three p{
        text-align: center;
        max-width: 535px;
        margin-left: 107px;
    }

    .threein{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 315px;
    }

    .threeleft{
        display: none;
        border-radius: 0px 20px 20px 0px;
        border: 3px solid rgba(11, 70, 124, 0.77);
    }

    .threeright {
        width: 720px;
        margin-left: 144px;
    }

    .threeright img{
        width: 100%;
    }

    .prevnext{
        margin-left: 19px;
        margin-top: 20px;
    }

    .four{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;
    }

    .fourconteinerimg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #imgresponsive{
        position: relative;
        left: 0px;
    }


    .costumer_one{
        width: 350px;
        margin-bottom: 80px;
        border: solid #0872BF 3px;
        border-radius:20px;
    }

    .costumer_two{
        width: 350px;
        margin-bottom: 80px;
    }

    .costumer_three{
        width: 350px;
        border: solid #0872BF 3px;
        border-radius: 20px;
    }

    .fouriconteiner{
        display: none;
    }

    .five{
        display: flex;
        flex-direction: column;
        margin-right: 22px;
    }

    .five h2{
        display: flex;
        align-items: center;
        margin-left: 77px;
    }

    .conteinerfive{
        display: flex;
        flex-direction: row;
    }

    .sectionfiveform #submit{
        position: relative;
        left: 216px;
        bottom: 64px;
    }

    footer{
        margin-left: 50px;
    }

    .footerconteiner{
        display: flex;
        flex-direction: row;

    }

    .footerconteiner p{
        width: 144px;
    }

    .line{
        margin-left: -100px;
        margin-right: -100px;
    }
}





